.imageContainer {
   width:1238px;
   height:1632px;
   position: relative;
   background-image: url('images/Official Page-1s.jpg');
 }
 
 .characterName {
	position: absolute; 
	top: 120px;
	left: 200px;
	width: 200px;
 }
 
  .abilityStrength {
	position: absolute;
	top: 325px;
	left: 90px;
	width: 25px;
 }
 
   .abilityStrengthModifier {
	position: absolute;
	top: 380px;
	left: 100px;
	width: 50px;
 }